/*#region SITE SETINGS*/
:root {
    --main-font: 'Roboto', 'Raleway', 'Sans-serif';
    --main-color: #212121;
    --second-color: #757575;
    --selectoin-color: #2196F3;
    --button-color-hover-focus: #188CE8;
    --footer-heder-color: #2F303A;
}

body {
    color: #212121;
    font-size: 14px;
    font-family: 'Roboto';
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.conteiner {
    /* outline: 1px solid red; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/*#endregion SITE SETINGS*/

/*#region HEADER SECTION*/
.header-section {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    color: var(--selectoin-color);

    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-conteiner {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 94px;
}

.web {
    color: #212121;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-list .navigation-item+.navigation-item {
    margin-left: 50px;
}

.navigation-item-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation-item-link {
    color: #212121;

    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.studia {
    color: #2196F3;
}

.portfolio {
    color: #2196F3;
}

.navigation-item-link:hover,
.navigation-item-link:focus,
.navigation-item-link:active,
.auth-item-mail:hover,
.auth-item-mail:focus,
.auth-item-tel:focus,
.auth-item-tel:hover {
    color: var(--selectoin-color);
}

.auth-item-mail:hover:focus.auth-item-mail-icon {
    color: var(--selectoin-color);
}

.navigation-item:active {
    color: aqua;
}


.auth-list {
    display: flex;
    margin-left: auto;
}

.auth-list .auth-item+.auth-item {
    margin-left: 50px;
}

/* .auth-list .
/* .auth-item-mail {
    margin-right: 50px;
} */

.auth-item-tel,
.auth-item-mail {
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;
}

.auth-item-tel,
.auth-item-mail {
    color: #757575;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-item-mail,
.auth-item-tel {
    display: flex;
    align-items: center;
}

.auth-item-mail-icon,
.auth-item-tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

/*#endregion HEADER*/

/*#region HERO SECTION*/
.hero-section {
    background: var(--footer-heder-color);
    background: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);

    text-align: center;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.hero-title {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.hero-btn {
    font-family: inherit;

    color: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--selectoin-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
    border: none;

    min-width: 200px;
    padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-color-hover-focus);
}

/*#endregion HERO SECTION*/

/*#region SPECIFICS SECTION*/
.specifics-section {
    padding-bottom: 0;
}

.specifics-list {
    display: flex;
}

.specifics-item {
    margin-right: 30px;
    width: 270px;
}

.specifics-item:last-child {
    margin-right: 0;
}

/* раздел с особеностями */
.specifics-item::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-antena::before {
    background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/icons/clock.svg);
}

.icon-diagrama::before {
    background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
}

/* .specifics-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;

} */



.specifics-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.specificts-text {
    color: #757575;

    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*#endregion SPECIFICS SECTION*/

/*#region DEVELOPMENT SECTION*/
.devefelopment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}


.development-list {
    display: flex;

}

.development-item:not(:last-child) {
    margin-right: 30px;
}

/* .development-item:last-child {
    margin-right: 0;
} */

/*#endregion DEVELOPMENT SECTION*/

/*#region TEAM SECTION*/
.team-section {
    background-color: #F5F4FA;
}

.team-title {
    color: #212121;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

}

.team-list {
    display: flex;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}


.team-position {
    color: #757575;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.team-icon-list {
    display: flex;
    justify-content: center;
}

.team-icon-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-icon-item:not(:last-child) {
    margin-right: 10px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;
}


.team-icon-item:hover .team-icon-link {
    background-color: #2196F3;
    fill: #FFFFFF;
}

.team-icon-link:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
}



/*#endregion TEAM*/

/*#region REGULAR CUSTOMERS*/

.client-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.client-list {
    display: flex;
}

.client-logo:not(:last-child) {
    margin-right: 30px;
}

.link-client {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.link-client:hover,
.link-client:focus {
    border: 1px solid #2196F3;
    fill: #188CE8;
}






/*#endregion*/

/*#region FOOTER SITE SECTION*/
.footer-site {
    background-color: #2F303A;

}

.footer-section {
    display: flex;
    align-items: baseline;
}

.footer-left {
    margin-right: 70px;

}

.logo-footer {
    margin-right: 0;
}

.web-footer {
    color: #FFFFFF;
}

.address-footer {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}


.footer-item {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-item:hover,
.footer-item:focus {
    color: #2196F3;
}

.footer-site {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    display: block;

    margin-bottom: 20px;
    margin-right: 0;
}

.addres-text {
    margin-bottom: 9px;
}

.footer-link:not(:last-child) {
    margin-bottom: 9px;
}

.footer-join {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
}

.footer-social-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    border-radius: 50%;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--selectoin-color);
}

/*#endregion FOOTER SITE*/

/*#region FILTR-portfolio.html SECTION*/

.filter-button {
    color: #212121;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    cursor: pointer;
    border: none;
    border-radius: 4px;

    padding: 6px 22px;
}

.filter-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.filter-item {
    margin-right: 8px;
}

.filter-item:last-child {
    margin-right: 0;
}

.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background: #2196F3;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    /* border-radius: 4px; */
}

.project-list {
    display: flex;
    flex-wrap: wrap;

}

.project-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:nth-child(n + 7) {
    margin-bottom: 0;
}

/* .project-item:hover,
.project-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16)
} */

.project-item {
    cursor: pointer;
}

.project-link {
    display: block;
    text-decoration: none;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16)
}



.name-project {
    color: #212121;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.name-list {
    color: #757575;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

}

.name-card {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eeeeee;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #eeeeee;

    padding: 20px 24px;
}

/*#endregion FILTR-portfolio.html*/